body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #555;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.projeto {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
